<mat-toolbar>
  <mat-toolbar-row class="header-ligne1">
    <span>Custom Toolbar</span>
  </mat-toolbar-row>
  <mat-toolbar-row class="header-ligne2">
    <span>FREE RETURN STANDARD SHOPPING ORDER *99+</span>
    <div class="header-ligne2-containerNavigation">
      <a mat-button routerLink="#">Mon compte</a>
      <a mat-button routerLink="#">A propos de nous</a>
      <a mat-button routerLink="#">Blog</a>
      <a mat-button routerLink="#">Ma liste de souhaits</a>
      <a mat-button routerLink="#">Panier</a>
      <a mat-button routerLink="#">Log in</a>
    </div>
  </mat-toolbar-row>
</mat-toolbar>

