<mat-toolbar class="header">
  <mat-toolbar-row class="header-ligne header-ligne1">
    <div class="leftContainerNavigationHeader">
      <button mat-icon-button aria-label="Menu" class="headerNavigationBtn" (click)="toggleMenu()">
        <mat-icon>menu</mat-icon>
      </button>
      <button mat-button>Accueil</button>
      <button mat-button>Contact</button>
    </div>
    <form class="search-form">
      <mat-form-field>
        <mat-label>Rechercher...</mat-label>
        <input matInput placeholder="Rechercher">
        <button
        type="submit"
        mat-icon-button
        matSuffix
        aria-label="Rechercher"
        >
          <mat-icon fontIcon="search"></mat-icon>
        </button>
      </mat-form-field>
    </form>
    <span class="spacer"></span>
    <div class="rightContainerNavigationHeader">
      <button mat-button aria-label="deconnexion">Se déconnecter</button>
      <button mat-icon-button aria-label="notifications" class="headerNavigationBtn">
        <mat-icon fontIcon="notifications"></mat-icon>
      </button>
    </div>
  </mat-toolbar-row>
</mat-toolbar>

