.principalContainer {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.sidenavContainer {
  /* When the sidenav is not fixed, stretch the sidenav container to fill the available space. This
     causes `<mat-sidenav-content>` to act as our scrolling element for desktop layouts. */
  flex: 1 1 auto;
  display: flex;
  min-height: 0;
}

.example-is-mobile {
  /* When the sidenav is fixed, don't constrain the height of the sidenav container. This allows the
     `<body>` to be our scrolling element for mobile layouts. */
  flex: 1 0 auto;
}

mat-sidenav {
  max-width: 300px;
  overflow-y: auto;
  border-right: 1px solid var(--main-color-gray);
  background-color: var(--main-color-gray);
  border-radius: 0 !important;
  padding: 20px 20px;
}

mat-sidenav-content {
  flex: 1;
  overflow-y: auto;
  display: flex;
  flex-direction: column;
}

app-footer {
  flex-shrink: 0; /*Empêche le footer de remonter*/
}

.sideNavWrapper {
  flex: 1 1 auto;
}

.CentralContent {
  flex: 1 1 auto;
  padding: 30px 20px;
}

mat-expansion-panel {
  background-color: var(--main-color-gray) !important;
  color: var(--main-color-white) !important;
  box-shadow: none !important;
}

mat-expansion-panel-header {
  background-color: var(--main-color-gray) !important;
  color: var(--main-color-white) !important;
}

.mat-expansion-panel-header-title {
  color: var(--main-color-white) !important;
}

.mat-expansion-indicator::after {
  color: var(--main-color-white) !important;
  border-color: var(--main-color-white) !important;
}

.mat-expansion-panel-content {
  color: var(--main-color-white) !important;
}

mat-panel-title {
  gap: 10px;
}

.active-link {
  background: rgba(255, 255, 255, 0.15);
  font-weight: 600;
}
