<div class="principalContainer" [class.example-is-mobile]="mobileQuery.matches">
  <mat-sidenav-container class="sidenavContainer"
                        [style.marginTop.px]="mobileQuery.matches ? 0 : 0">
    <mat-sidenav #snav [mode]="mobileQuery.matches ? 'over' : 'side'"
                [fixedInViewport]="mobileQuery.matches" fixedTopGap="236">
      <div class="sideNavWrapper">
        <mat-nav-list>
          <mat-accordion class="menu-accordion" multi="false">
            <!-- Tableau de board (avec sous-menus dans un panel) -->
            <mat-expansion-panel routerLinkActive #rlaDash="routerLinkActive" [expanded]="rlaDash.isActive">
              <mat-expansion-panel-header>
                <mat-panel-title>
                  <mat-icon>dashboard</mat-icon>
                  <span>Tableau de bord</span>
                </mat-panel-title>
              </mat-expansion-panel-header>

              <mat-action-list>
                <a mat-list-item routerLink="/dashboard" routerLinkActive="active-link">Tableau de bord</a>
              </mat-action-list>
            </mat-expansion-panel>

            <!-- Paramétrage (avec sous-menus dans un panel) -->
            <mat-expansion-panel routerLinkActive #rlaParam="routerLinkActive" [expanded]="rlaParam.isActive">
              <mat-expansion-panel-header>
                <mat-panel-title>
                  <mat-icon>settings_applications</mat-icon>
                  <span>Paramétrages</span>
                </mat-panel-title>
              </mat-expansion-panel-header>

              <mat-action-list>
                <a mat-list-item routerLink="/parametrage/add" routerLinkActive="active-link">Paramétrer</a>
                <a mat-list-item routerLink="/parametrage" routerLinkActive="active-link">Paramétrages</a>
              </mat-action-list>
            </mat-expansion-panel>

            <!-- Catégories (avec sous-menus dans un panel) -->
            <mat-expansion-panel routerLinkActive #rlaCat="routerLinkActive" [expanded]="rlaCat.isActive">
              <mat-expansion-panel-header>
                <mat-panel-title>
                  <mat-icon>category</mat-icon>
                  <span>Catégories</span>
                </mat-panel-title>
              </mat-expansion-panel-header>

              <mat-action-list>
                <a mat-list-item routerLink="/categories/add" routerLinkActive="active-link">Ajouter une catégorie</a>
                <a mat-list-item routerLink="/categories" routerLinkActive="active-link">Catégories</a>
              </mat-action-list>
            </mat-expansion-panel>

            <!-- Produits -->
            <mat-expansion-panel routerLinkActive #rlaPro="routerLinkActive" [expanded]="rlaPro.isActive">
              <mat-expansion-panel-header>
                <mat-panel-title>
                  <mat-icon>inventory_2</mat-icon>
                  <span>Produits</span>
                </mat-panel-title>
              </mat-expansion-panel-header>

              <mat-action-list>
                <a mat-list-item routerLink="/products/add" routerLinkActive="active-link">Ajouter un produit</a>
                <a mat-list-item routerLink="/products" routerLinkActive="active-link">Produits</a>
              </mat-action-list>
            </mat-expansion-panel>
          </mat-accordion>
        </mat-nav-list>
      </div>
    </mat-sidenav>

    <mat-sidenav-content>
      <app-header></app-header>
      <!-- <div class="CentralContent"></div> -->
      <div class="CentralContent">
        <router-outlet></router-outlet>
      </div>
      <app-footer [nomAppli]="appliName"></app-footer>
    </mat-sidenav-content>
  </mat-sidenav-container>
</div>
